

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    scroll-behavior: smooth;
  }
  
  html{

    
    margin: .6rem;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#menu {
    margin: .2rem;
    margin-left: 0%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    background-color: #00f7ff;
    padding: 1px ;
    text-align: end;
 
   
}

#ims{
display: flex;
align-items: flex-start;
margin: 1rem;


}


ul
{ 
    margin-left: .5rem;
    padding: .8rem;
    text-decoration: none;
    border: .1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    justify-content: end;
 
}
ul:hover
{ width: 5%;
  box-shadow: 5px 5px 5px 5px #ffffff;


}

#NAV{
    justify-content: end;
    display: flex;



}

#img
{
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}
#titulo {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    color: #ffffff;
    padding: 11rem;
    box-shadow: 10px 10px 5px 5px #ffffff98;
    cursor: pointer;

}

#titulo:hover 
{
    background-color:  #00f7ff;
    color: rgb(0, 0, 0);

}
header{

    align-items: center;
    display: flex;
    margin: 5rem;
}


section#SOBRE{

    display: flex;
    align-items: center;
    width: 100%;
    margin: 3rem;
}


#img2 {

    width: 500px;
    padding-right: 100px;
}
h3{ display: flex;
    color: #ffffff;
    padding-left: 15rem;
    justify-content: end;
   
}



h2{

    display: flex;
    color: #ffffff;
    justify-content: center;
}
section#Contato{

    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    align-items: center;
    margin: 25px;
    flex-direction: column;
    width: 50px;
  padding: 100px;
    background-color: #00f7ff;
    border: 5rem ;
    border-color: black;
}

#ctt{
padding-top: 2rem;
    color: black;
}

.cards:hover 
{
    background-color:  #c5c1c150;
    border: .1px solid #00f7ff;
    border-style: solid;
    border-radius: 10%;
}
#espaço{

    padding: 5rem;
}

#trabalhos{

   padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 25px;
}

.tabs{

    padding: 25px;
    margin: 25px;
    width: 500px;
    height: 500px;
    background-color: #00f7ff;


}

.p1{
    justify-content: center;
    color: #ffffff;
  padding-top: 50px;
text-align: center;
padding-bottom: 25px;
}

.p2{
    color: #ffffff;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #04040490;



}

#Skills{
padding: 2rem;
background-color: #00f7ff;
display: flex;
justify-content: center;
align-items: center;
border: .15px solid #ffffff;


}
.skilaa{
display: flex;
    margin: 1rem;
    padding: 50px;
    justify-content: baseline;
    border: 1rem solid #ffffff;
    border-radius: 15px;
   
}

footer{

    display: flex;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
}
#foo{
 text-decoration: none;
color: #ffffff;

}

#foo:hover{
color:  #00f7ff;


}


@media (max-width: 600px){

    
*{
    display: flex;
   justify-content: space-evenly;
    align-items: center;
   
    padding: 0;
    margin: 0;
  
    
}


#titulo{
 width: 30%;


}

#header{
    margin: 0;
    padding: 0;
}

#img2{
width: 200px;
    padding: 0;
    margin: 0;
}


#Contato{


    width: 50%;
}

#trabalhos{

width: 90%;
margin: 0 0 0 5;

justify-content: center;

}

#Skills{
    padding: 0;

    width: 20%;
}

#footer{
justify-content: end;
    width: 50%;
    align-items: center;
    display: flex;
}}


@media (max-width: 1024px){

    
    *{
        display: flex;
        align-items: center;
     flex-wrap: wrap;
        justify-content: center;
        
      
        
    }
    
    
    #titulo{
     width: 70%;
    
    
    }
    
    #header{
        margin: 0;
        padding: 0;
    }
    
    #img2{
    width: 200px;
        padding: 0;
        margin: 0;
    }
    
    
    #Contato{
    
    
        width: 100%;
    }
    
    #trabalhos{
    
    width: 90%;
    margin: 0 0 0 5;
    
    justify-content: center;
    
    }
    
    #Skills{
        display: flex;
    
        width: 100%;
    }

    #espaço{
        display: none;
    }
    
    #footer{
   
        width: 100%;
        align-items: center;
        display: flex;
    }





}